<h1>SuperUpload</h1>

<form action="/uploads?X-Progress-ID=<%= Digest::MD5.hexdigest(Time.now.to_f.to_s) %>" method="post" accept-charset="utf-8" enctype="multipart/form-data">
  <div><input type="file" name="file" /></div>
  <div><textarea name="description" rows="8" cols="40"></textarea></div>
  <div><input type="submit" value="Continue &rarr;"></div>
</form>