<div class="page-header">
  <h1>SuperUpload</h1>
</div>

<div class="form">
  <form id="upload-form" action="/uploads?X-Progress-ID=<%= @progress_id %>"
        method="post" accept-charset="utf-8" enctype="multipart/form-data">
    <div class="control">
      <input type="file" name="file" />
    </div>
    <div class="control">
      <textarea name="description" rows="8" cols="80" class="textarea"></textarea>
    </div>
    <div class="buttons">
      <input type="submit" value="Save" />
    </div>
  </form>
</div>

<script type="text/javascript" charset="utf-8"
        src="/assets/javascripts/jquery-1.7.2.min.js"></script>
<script type="text/javascript" charset="utf-8"
        src="/assets/javascripts/jquery.superupload.js"></script>
<script type="text/javascript" charset="utf-8">
  $('#upload-form').superupload({
    uploads_path: '/uploads',
    status_path:  '/status',
    progress_id:  '<%= @progress_id %>'
  });
</script>