<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>SuperUpload</title>
  <link href="/assets/stylesheets/application.css" rel="stylesheet" type="text/css">
</head>
<body>
  <div class="page">
    <div class="content">
      <%= yield %>
    </div>
    <div class="footer">
      <p>SoundCloud Backend Developer Challenge · <a href="https://github.com/soulim/soundcloud-challenge">Source Code</a></p>
    </div>
  </div>
</body>
</html>
