<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>SuperUpload</title>
  <link href="/assets/stylesheets/application.css" rel="stylesheet" type="text/css">
</head>
<body>
  <%= yield %>
</body>
</html>
