<div class="header">
  <h1><a href="/">SuperUpload</a> · File</h1>
</div>

<p>
  <%=h @description %>
</p>
<p>
  Files: <%= @files.map { |(filename, path)| "<a href=\"#{url(path)}\">#{h(filename)}</a>" }.join(', ') %>
</p>
